body {
  font-family: "Oxygen", sans-serif;
  background-color: white;
  color: #262626;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style-position: inside;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #d4d4d4;
  padding: 0.65rem 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #7c3aed;
}

small {
  font-size: 14px;
}
